.side-bar {
  min-height: 87vh;
  max-height: 100%;
  width: 16vw;
  position: relative;
}

.sidebar-item {
  background-color: #3d65f4;
  padding-left: 8px;
}
.open-btn {
  display: flex;
}

@media screen and (orientation: portrait), (max-width: 767px) {
  .side-bar {
    display: none;
  }
  .sidebar-item {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
  .sidebar-text {
    display: none;
  }
}
